.navbar-wrapper {
    background-color: teal;
    padding: 2rem;
    margin-bottom: 3rem;
    gap: 3rem;
}

.navbar-title {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: .75rem;
    color: white;
}

.navbar-title:hover {
    cursor: pointer;
}

.error, .error:focus{
    border: 3px solid red;
}

.error-text {
    text-align: center;
    padding: .5rem;
    font-weight: bold;
    background-color: white;
    color: red;

}